#listHeader {
  position: fixed;
  z-index: 2;
  width: 82%;
}

#listTitle {
  text-align: center;
  font-size: 35px;
  padding: 30px 0;
  color: #fff;
  background-color: black;
}

#searchBar {
  color: #fff;
}

/* ----------- Phones ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #listHeader {
      width: 50%;
    }
    #listTitle {
      font-size: 20px;
    }
}

/* ----------- Tablets ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #listHeader {
      width: 70%;
    }
    #listTitle {
      font-size: 30px;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #listHeader {
      width: 82%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #listHeader {
      width: 82%;
    }
}