#favoriteHeader {
  position: fixed;
  z-index: 2;
  width: 18%;
}

#favoriteTitle {
  text-align: center;
  font-size: 35px;
  padding: 30px 0;
  color: #fff;
  background-color: #111;
  z-index: 2;
}
#favoriteContainer{
  padding: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

/* ----------- Phones ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #favoriteHeader {
      width: 50%;
    }
    #favoriteTitle {
      font-size: 20px;
    }
}

/* ----------- Tablets ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #favoriteHeader {
      width: 30%;
    }
    #favoriteTitle {
      font-size: 30px;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #favoriteHeader {
      width: 18%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #favoriteHeader {
      width: 18%;
    }
}