html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#albumList {
  height: 100%;
  width: 82%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

#sidebar {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

/* ----------- Phones ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #sidebar {
      width: 50%;
    }
    #albumList {
      width: 50%;
    }
}

/* ----------- Tablets ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #sidebar {
      width: 30%;
    }
    #albumList {
      width: 70%;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #sidebar {
      width: 18%;
    }
    #albumList {
      width: 82%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #sidebar {
      width: 18%;
    }
    #albumList {
      width: 82%;
    }
}